<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
    <title></title>
    <!-- http://meyerweb.com/eric/tools/css/reset/ -->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div class="header">
        
            <h1>Relaxr</h1>
     
      <div id = "main">
        <h1>Get piece of mind with a single tap</h1>
        <br>
        <a>Get it Now!</a>
      </div>
      </div>

      <section>
      <div id="benefits">
        <h1> Benefits </h1>

        <p>The personal assistant.Relaxr does your job for you so you can enjoy life as it meant to be. </p>
        <br>
        <ul>
          <li>Schedule meetings for you</li>
          <li>Excel automation to complete your work for you</li>
          <li>Responds to email on your behalf</li>
          <li>Does all your work for you with our revolutionary AI technlogy</li>
        </ul>
      </div>
      </section>
      <div id ="testimony">
        <h2>"Relaxr changed my life. I’ve been able to travel the world, spend limited time working and my boss keeps thanking me for crushing work."</h2>
        <h3>- Amanda, Intuit</h3>
      </div>
      <div id ="getstart">
        <a>Sign Up Now!</a>
      </div>
      <div id = "footer">
        <h1> Relaxr </h1>
        <div class="images">
          <br>
          
          <img src ="https://raw.githubusercontent.com/BrianCarela/relaxr_landing_css/master/images/twitter.png"alt = "twitter"/>
          <img src ="https://raw.githubusercontent.com/BrianCarela/relaxr_landing_css/master/images/facebook.png" alt="facebook"/>
        </div>
        <br>
        <p>Copyright 2015. Relaxr.</p>
      </div>
         

      


  </body>
</html>